<div class="container body-content d-flex flex-column min-vh-100">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">
      {{ title }} app is running!
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">App component - This is the app component</h5>
      <app-server></app-server>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">App component - This is the app component for app-servers compooent.</h5>
      <app-servers></app-servers>
    </div>
  </div>

  <footer class="mt-auto">
    <hr />
    <p class="text-center">&copy; 2022 - Brant's Angular Project</p>
  </footer>
</div>
